/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
    a proporção é 730 x 1180
  */
  height: 61.8644068%;
  /* 61.8644068% da altura da viewport */
  width: 100%;
  /* 100% da largura da viewport */
  font-family: sans-serif;
  margin: 0;
  /* Remove qualquer margem padrão */

}

h1,
h2,
h3 {
  color: #1976D2;
}