.Home {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;

}

.treeArea {
  margin-left: 2vw;
  margin-right: auto;
  width: 500px;
}

.optionsArea {
  height: 90vh;
  width: 60vh;
  border: solid;
  border-color: gray;
  margin-right: 2vw;
  margin-left: auto;
}

.topArea {
  display: flex;
  margin-top: 2vh;
}

.apiButton {
  margin-right: 1vw;
  margin-left: auto;
}

.nwkInput {
  margin-left: 1vw;
  margin-right: auto;
}

.generateNwkButton {
  margin-left: 0.5vw;
}

.comparatorArea {
  margin-top: 5vh;
}